<%= form_for :search, :url => {:action => 'index', :controller => "orders"}, :method => :post do |form| %>
  <h4>Search Orders</h4>
  <div>
    <p>
      Select By User Email:
      <%= collection_select( :search, :user_id, User.all(), :id, :email, { include_blank: 'Select' }, { multiple: false }) %>
    </p>
  </div>
  <div>
    <p>
      Select By Item Name:
      <%= collection_select( :search, :item_id, Item.all(), :id, :get_name, {include_blank: 'Select'}, { multiple: false }) %>
    </p>
  </div>
  <div class="actions">
    <p>
      <%= form.submit "Search" %>
    </p>
  </div>
<% end %>