<h1>Authenticate Purchase</h1>
<%= bootstrap_form_for :otp, :url => {:action => 'create', :controller => "orders"} do |form| %>
  <div>
    <%= form.label :code, 'Enter OTP' %>
    <%= form.text_field :code %>
  </div>
  <div class="actions">
    <p>
      <%= form.submit "Authenticate" %>
    </p>
  </div>
<% end %>