<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hello,
  This is sensitive information
  Please do not share this number
  OTP : <%= @otp %>

  Have a great day!
</p>
</body>
</html>