<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hello,<br>
  This is sensitive information <br>
  Please do not share this number <br>
  OTP : <%= @otp %> <br>
  <br>
  Have a great day! <br>
</p>
</body>
</html>